#displayMsg,
#subDisplayMsg {
    min-height: 400px; 
    width: 383px;
    background-color: rgb(221, 200, 200);
}

#screen,
#subsCreen {
    height: 300px;
    width: 400px;
    overflow-y: scroll;
}